<!-- Classification Form -->
<div class="classify-and-plots">
    <div class="classification-container">
  
      <h3 class="classify-form-header"> Enter Breast Tumor Cell Nuclei Features (averages): </h3>
  
      <form id="cancerForm" method="post" class="classification-form">
        <div class="classify-form-element">
          <label for="radius">Radius:</label>
          <input name="radius" id="radius" 
                  value="{{ request.form['radius'] or '' }}" required>
        </div>
        <div class="classify-form-element">
          <label for="texture">Texture:</label>
          <input name="texture" id="texture"
                  value="{{ request.form['texture'] or '' }}" required>
        </div>
        <div class="classify-form-element">
          <label for="perimeter">Perimeter:</label>
          <input name="perimeter" id="perimeter"
                  value="{{ request.form['perimeter'] or '' }}" required>
        </div>
        <div class="classify-form-element">
          <label for="area">Area:</label>
          <input name="area" id="area"
                  value="{{ request.form['area'] or '' }}" required>
        </div>
        <div class="classify-form-element">
            <label for="smoothness">Smoothness:</label>
            <input name="smoothness" id="smoothness"
                    value="{{ request.form['smoothness'] or '' }}" required>
        </div>
        <div class="classify-form-element">
            <label for="compactness">Compactness:</label>
            <input name="compactness" id="compactness"
                    value="{{ request.form['compactness'] or '' }}" required>
        </div>
        <div class="classify-form-element">
            <label for="concavity">Concavity:</label>
            <input name="concavity" id="concavity"
                    value="{{ request.form['concavity'] or '' }}" required>
        </div>
        <div class="classify-form-element">
            <label for="concave-points">Concave Points:</label>
            <input name="concave-points" id="concave-points"
                    value="{{ request.form['concave-points'] or '' }}" required>
        </div>
        <div class="classify-form-element">
            <label for="symmetry">Symmetry:</label>
            <input name="symmetry" id="symmetry"
                    value="{{ request.form['symmetry'] or '' }}" required>
        </div>
        <div class="classify-form-element">
            <label for="fractal-dimension">Fractal Dimension:</label>
            <input name="fractal-dimension" id="fractal-dimension"
                    value="{{ request.form['fractal-dimension'] or '' }}" required>
        </div>
        <div class="classify-form-button">
          <button type="submit"
                  onclick="document.getElementById('correction').style.display = 'none';
                            document.getElementById('feedback').innerText = '';">
                            
                            Predict!
          </button>
        </div>
        <div class="classify-toggle">
          <div class="visualize-label">
            <label for="visualize">Visualize:</label>
          </div>
          <div>
            <label class="visualize-toggle">
              <input type="checkbox" id="visualize">
              <span class="slider"></span>
            </label>
          </div>
        </div>
      </form>
  
      <p id="prediction" class="classify-result"></p>
  
      <!-- Corrections -->
      <div class="correcting">
        <button type="button" id="incorrect" style="display: none" class="incorrect-button"
          onclick="document.getElementById('correction').style.display='block';
                    document.getElementById('incorrect').style.display='none';">
              
                This is incorrect!
  
        </button>
  
        <div class="correcting-form">
          <form id="correction" method="post" style="display: none">
  
            <p class="correcting-form-header">What is the correct cell type?</p>
            
            <div class="correcting-form-content">
              <select name="target" id="target" class="correcting-dropdown">
                <option value="malignant">malignant</option>
                <option value="benign">benign</option>
              </select>
  
              <button type="submit" class="correcting-submit">Submit</button>
  
            </div>
          </form>
        </div>
  
        <p id="feedback" class="correcting-feedback"></p>
        <button id="tryAgain" class ="try-again" type="button" style="display: none"
          onclick="document.getElementById('correction').style.display='block';
                  document.getElementById('tryAgain').style.display='none';
                  document.getElementById('feedback').innerText = '';">
          
            Try Again
  
        </button>
      </div>
    </div>
    <div class="classify-plot-container" id="classifyPlotContainer">
      {% include 'iris/irisInstancePlots.html' %}
    </div>
  </div>
  
  <br>