<!-- List Corrections -->
{% if corrections %}
  <div class="corrections-btns">
    <button class="corrections-header" id="correctionsHeader">Corrections
      <i id="caret" class="fa fa-caret-down"></i>
    </button>
    <div id="clearCorrectionsContainer" class="clear-corrections-container">
      <button class="clear-corrections-btn" id="clearCorrectionsButton">
        Clear Corrections
      </button>
      <p id="clearCorrectionsStatus"></p>
    </div>
  </div>

  <div class="corr-table-container" id="correctionsTableContainer">
    <table class="corrections-table" id="correctionsTable">
      <thead class="corr-table-head">
        <th>Radius</th>
        <th>Texture</th>
        <th>Perimeter</th>
        <th>Area</th>
        <th>Smoothness</th>
        <th>Compactness</th>
        <th>Concavity</th>
        <th>Cancave Points</th>
        <th>Symmetry</th>
        <th>Fractal Dimension</th>
        <th>Cell Type</th>
        <tr>
          <td colspan="11">
            <hr>
          </td>
        </tr>
      </thead>
      <tbody class="corr-table-body">
        {% for c in corrections %}
          <tr>
            <td>{{ c['radius'] }}</td>
            <td>{{ c['texture'] }}</td>
            <td>{{ c['perimeter'] }}</td>
            <td>{{ c['area'] }}</td>
            <td>{{ c['smoothness'] }}</td>
            <td>{{ c['compactness'] }}</td>
            <td>{{ c['concavity'] }}</td>
            <td>{{ c['concave_points'] }}</td>
            <td>{{ c['symmetry'] }}</td>
            <td>{{ c['fractal'] }}</td>
            <td>{{ index[c['cell_type']] }}</td>
          </tr>
          {% if not loop.last %}
            <tr>
              <td colspan="11">
                <hr>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}