<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <header class="home">
      <h1>Classifiers</h1>
    </header>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a>
        <li><a href="{{ url_for('iris.iris') }}">Iris Classifiers</a>
      </ul>
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
            
        {% block content %}{% endblock %}

        <script src="{{ url_for('static', filename='main.js') }}"></script>
        
        {% block js %}{% endblock %}

    </section>
  </body>
</html>