<!-- List Corrections -->
{% if corrections %}
  <button class="corrections-header" id="correctionsHeader">Corrections
    <i id="caret" class="fa fa-caret-down"></i>
  </button>

  <div class="corr-table-container" id="correctionsTableContainer">
    <table class="corrections-table" id="correctionsTable">
      <thead class="corr-table-head">
        <th>Sepal Length</th>
        <th>Sepal Width</th>
        <th>Petal Length</th>
        <th>Petal Width</th>
        <th>Species</th>
        <tr>
          <td colspan="5">
            <hr>
          </td>
        </tr>
      </thead>
      <tbody class="corr-table-body">
        {% for c in corrections %}
          <tr>
            <td>{{ c['sepallen'] }}</td>
            <td>{{ c['sepalwid'] }}</td>
            <td>{{ c['petallen'] }}</td>
            <td>{{ c['petalwid'] }}</td>
            <td>{{ index[c['species']] }}</td>
          </tr>
          {% if not loop.last %}
            <tr>
              <td colspan="5">
                <hr>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    function attachDropdownListener() {
      const tableHeader = document.getElementById('correctionsHeader');
      const tableContainer = document.getElementById('correctionsTableContainer');
      const table = document.getElementById('correctionsTable');
      const caret = document.getElementById('caret');

      if (tableHeader && tableContainer && caret) {
        tableHeader.addEventListener('click', () => {
          tableContainer.classList.toggle('expanded');
          caret.classList.toggle('caret-up');

          let isExpanded = tableContainer.classList.contains('expanded');

          if (isExpanded) {
            tableContainer.style.height = table.scrollHeight + 'px';
          } else {
            tableContainer.style.height = '0px';
          }
        });
      }
    }

    // Initial attachment of the event listener
    attachDropdownListener();

    // Create a MutationObserver to watch for changes in the corrections container
    const observer = new MutationObserver((mutations) => {
      mutations.forEach((mutation) => {
        if (mutation.type === 'childList' && mutation.addedNodes.length) {
          // // Save the current visibility state of the table
          const tableContainer = document.getElementById('correctionsTableContainer');
          let isExpanded = tableContainer.classList.contains('expanded');

          // Reattach the dropdown listener for new content
          attachDropdownListener();

          // Restore the visibility state of the table
          if (isExpanded) {
            tableContainer.classList.toggle('expanded');
          }
        }
      });
    });
    
    // Observe the corrections page for changes
    const correctionsContainer = document.getElementById('correctionsPage');
    if (correctionsContainer) {
      observer.observe(correctionsContainer, {
        childList: true,  // Observe addition/removal of child nodes
        subtree: true     // Observe all descendant nodes
      });
    }
  });
</script>