{% extends 'base.html' %}

{% block title %}Classifiers{% endblock %}

{% block header %}
  <div class="home-models">
    <h1>Classifiers:</h1>
      <a href="{{ url_for('iris.iris') }}">Iris Classifiers</a>
      <a href="{{ url_for('cancer.cancer') }}">Breast Cancer Classifiers</a>
  </div>
  <div class="about">
    <h2 class="about-header">About this project</h2>
      <p>
        This project combines web development with machine learning and data visualization.
      </p>
      <p>
        This is a Flask app that can currently classify different iris species and whether cells 
        from a breast tumor are cancerous or not. It does so with machine learning models. On the 
        web application, you just have to input feature data and it will return a prediction based 
        on a model. If it is incorrect, you can tell the program, so it can retrain when desired.
      </p>
      <p>
        This project was done for the NSF-funded research project, <i>Scripting For All</i>, by Professor 
        Dodds of Harvey Mudd College. The overall goal of the research is to expand the understanding 
        of computer science to disciplines that traditionally don't use it. Computation is becoming an 
        increasingly useful and necessary skill, and we'd love to make it more accessible to everyone. 
        This webdev-classifier project is an example of a final (albeit large) project that students 
        should have the ability to do after taking HMC's CS35 <i>Computing for Insight</i> course.
      </p>
      <p>
        More information on the <i>Scripting For All</i> project can be found at 
        <a href="https://www.cs.hmc.edu/~dodds/cs35/nsf.html">https://www.cs.hmc.edu/~dodds/cs35/nsf.html</a>
      </p>
  </div>
{% endblock %}