<!-- Retrain button doesn't work if a new one is
     created (e.g. with render_template). So, to
     get around this while still achieving the 
     desired functionality, we need to store it in
     a separate page and manipulate it that way-->

<div class="retraining">
  <button id="retrainButton" class ="retrain-button" type="button">
    Retrain with Corrections
  </button>

  <p id="retrainStatus" class="retrain-status"></p>
</div>

{% if session['retrained'] or not corrections %}
  <!-- For initially loading the page -->
  <script>
    document.getElementById('retrainButton').style.display = 'none';
  </script>
{% endif %}