{% extends 'base.html' %}

{% block header %}
  <div class="classifier-subheader">
    <h1 class="classifier">{% block title %}Iris Classifiers {% block subtitle %}{% endblock %}{% endblock %}</h1>
    
    <!-- Navigation -->
    <div class="model-nav">
      <button class="model-dropdown-btn">
        Models
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="model-links">
        <a href="{{ url_for('iris.knn_classifier') }}">Nearest Neighbor</a>
        <a href="{{ url_for('iris.dtree_classifier') }}">Decision Tree</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  
  {% block subcontent %}{% endblock %}

{% endblock %}
{% block js %}
  <!-- General JavaScript-->
  <script>correction('iris')</script>

  <!-- Iris-Specific JavaScript-->
  <script>
  function prediction(modelType) {
    /* Send feature data to backend to make a prediction
     modelType is the model to be used */

      document.addEventListener('DOMContentLoaded', (event) => {
          // Connect to the Socket.IO server
          const socket = io();

          // Handle the 'status' event from the server
          socket.on('classify-status', function(data) {
              document.getElementById('prediction').innerText = data.message;
          });

          let path = `${modelType}/predict`;
          document.getElementById('irisForm').addEventListener('submit', function(e) {
              e.preventDefault();
              const sepallen = document.getElementById('sepallen').value;
              const sepalwid = document.getElementById('sepalwid').value;
              const petallen = document.getElementById('petallen').value;
              const petalwid = document.getElementById('petalwid').value;
              const visualize = document.getElementById('visualize').checked;

              fetch(path, {
                  method: 'POST',
                  headers: { 'Content-Type': 'application/json' },
                  body: JSON.stringify({ sepallen, sepalwid, petallen, petalwid, visualize })
              })
              .then(response => response.json())
              .then(data => {
                  document.getElementById('prediction').innerText = `Iris Species: ${data["species"]}`;
                  document.getElementById('incorrect').style.display='block';
                  document.getElementById('retrainStatus').innerText='';
                  document.getElementById('tryAgain').style.display = 'none';
                  if (data["images"]) {
                    // Create/update plots if specified
                    document.getElementById('classifyPlotContainer').innerHTML = data["images"];

                    // Prevent images from caching so they are properly updated in real time
                    const images = document.getElementById('classifyPlotContainer').getElementsByTagName('img');
                    for (let i = 0; i < images.length; i++) {
                        const img = images[i];
                        const src = img.src.split('?')[0]; // Remove existing query parameters

                        // Use timestamp as query parameter for unique URL
                        img.src = src + '?t=' + new Date().getTime(); 
                    }
                  }
              })
              .catch(error => {
                  console.error('Error: ', error);
                  document.getElementById('prediction').innerText = 'An error occurred';
                  document.getElementById('retrainStatus').innerText='';
              });
          });
      });
  }
  </script>

  {% block subjs %}{% endblock %}

{% endblock %}