<!-- Heatmap visualizations for a prediction with given features -->
{% if instancePlotExists %} <!-- Only display if there is a plot -->
  <h3 class="classify-plot-header">Visualization of Classification</h3>
  <div class="classify-plot">
    <div class="classify-plot-image">
      <img src="{{ url_for('static', filename='img/this_iris_' + model + '_sepal.png') }}">
    </div>
    <div class="classify-plot-image">
      <img src="{{ url_for('static', filename='img/this_iris_' + model + '_petal.png') }}">
    </div>
  </div>
{% endif %}