{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Iris Predictors {% block subtitle %}{% endblock %}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <!-- Navigation -->
  <nav>
    <h3>Models</h3>
    <ul>
      <li><a href="{{ url_for('iris.knn_classifier') }}">Nearest Neighbor</a>
    </ul>
  </nav>

  {% block subcontent %}{% endblock %}
  <!-- General JavaScript-->
  <script src="{{ url_for('static', filename='main.js') }}"></script> 
  <script>correction('iris')</script>

  <!-- Iris-Specific JavaScript-->
  <script>
    function prediction(modelType) {
      // Send feature data to backend to make a prediction
      // modelType is the model to be used
      let path = `${modelType}/predict`;

      document.getElementById('irisForm').addEventListener('submit', function(e) {
          e.preventDefault();
          const sepallen = document.getElementById('sepallen').value;
          const sepalwid = document.getElementById('sepalwid').value;
          const petallen = document.getElementById('petallen').value;
          const petalwid = document.getElementById('petalwid').value;
              
          fetch(path, {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ sepallen, sepalwid, petallen, petalwid })
        })
        .then(response => response.json())
        .then(data => {
              document.getElementById('prediction').innerText = `Iris Species: ${data["species"]}`;
              document.getElementById('incorrect').style.display='block';
        })
        .catch(error => {
              console.error('Error: ', error);
              document.getElementById('feedback').innerText = 'An error occurred';
        });
      });
    }
  </script>

  {% block js %}{% endblock %}

{% endblock %}