<!-- Classification Form -->
<form id="irisForm" method="post">
  <label for="sepallen">Sepal Length</label>
  <input name="sepallen" id="sepallen" 
          value="{{ request.form['sepallen'] or '' }}" required>
  <label for="sepalwid">Sepal Width</label>
  <input name="sepalwid" id="sepalwid"
          value="{{ request.form['sepalwid'] or '' }}" required>
  <label for="petallen">Petal Length</label>
  <input name="petallen" id="petallen"
          value="{{ request.form['petallen'] or '' }}" required>
  <label for="petalwid">Petal Width</label>
  <input name="petalwid" id="petalwid"
          value="{{ request.form['petalwid'] or '' }}" required>
  <button type="submit"
          onclick="document.getElementById('correction').style.display = 'none';
                    document.getElementById('feedback').innerText = '';">
                    
                    Predict!
  </button>
</form>

<p id="prediction"></p>

<!-- Corrections -->
<button type="button" id="incorrect" style="display: none"
  onclick="document.getElementById('correction').style.display='block';
            document.getElementById('incorrect').style.display='none';">
      
        This is incorrect!

</button>

<form id="correction" method="post" style="display: none">
  <p>What is the correct species?</p>
  <select name="species" id="species">
    <option value="setosa">setosa</option>
    <option value="versicolor">versicolor</option>
    <option value="virginica">virginica</option>
    </select>
  <button type="submit">Submit</button>
</form>

<p id="feedback"></p>
<button id="tryAgain" type="button" style="display: none"
  onclick="document.getElementById('correction').style.display='block';
           document.getElementById('tryAgain').style.display='none';
           document.getElementById('feedback').innerText = '';">
  
    Try Again

</button>

<!-- Retraining -->
{% if not session['retrained'] %}
  <button id="retrainButton" type="button">
    Retrain with Corrections
  </button>
{% endif %}

<p id="retrainStatus"></p> 